<!DOCTYPE html>
<html lang="en">
<head>
    <style>
     body
    {
    background-image:url('para.jpg');
    background-color:rgba(0,0,255,0.2);
    }
    p.position
    {
        position:fixed;
        top:30px;
        right:50px;
        color:rgba(360,0,0,0.5);
    }
    </style>
    <meta charset="UTF-8">
    <title>阅读</title>
</head>
<body>
<p class="position">祝您阅读愉快</p>

<p style="text-align:center;color:black;">{{data1.title}}</p>
<p style="text-align:center;color:black;">{{data1.author}}</p>
<a>{{data1.content}}</a>

</body>
</html>